.category {
  transition: 0.5s all;
}
.category:hover {
  box-shadow: var(--shadow);
}
.layer {
  position: absolute;
  background: #000;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
